*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    line-height: 1;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}
.clearfix:after,.clearfix:before{
    content:"";
    display:block;
    clear:both;
    zoom: 1;
}
img{
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    font-weight: normal;
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

strong {
    font-weight: bold;
}

td, td img {
    vertical-align: top;
}
input[type=checkbox]{
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
}input[type=radio]{
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox;
}
label{
    margin-right: 5px;
}
label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}

button, input, select, textarea {
    margin: 0;
}

button,
input[type=button] {
    width: auto;
    overflow: visible;
}

@keyframes spin-around {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}



/*SIO CSS*/


.col {
    box-sizing: border-box;
}

.control {
    position: relative;
    display: flex;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}

h1 + h2{
    font-size: 24px;
}
h2 + h3{
    font-size: 18px;
}
h3 + h4{
    font-size: 14px;
}
h4 + h5{
    font-size: 12px;
}

h1 + p,h2 + p,h3 + p,h4 + p,h5 + p,h6 + p{
    margin-top: 20px;
}

p + h1,p + h2,p + h3,p + h4, p + h5, p + h6{
    margin-top: 20px;
}

blockquote {
    margin: 20px 0;
    border-left: 2px solid #d3d6db;
    padding: 10px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.on-left{
    float: left;
}

.on-right{
    float: right;
}

.on-left + .on-right:after{
    content: "";
    clear: both;
    zoom: 1;
    float: none;
    display: block;
}

.justify {
    text-align: justify;
}

input, textarea, select {
    border: 1px solid #d3d6db;
    border-radius: 2px;
    line-height: 24px;
    padding: 4px;
    background: #fff;
    max-width: 100%;
}

p + p {
    margin-top: 10px;
}
mark {
    background-color: #fcf8e3;
    padding: 0.2em;
}

[disabled] {
    pointer-events: none;
    background: #eee;
    opacity: .7;
}

input[type="radio"], input[type="checkbox"] {
    min-width: inherit;
}

input:hover, textarea:hover, select:hover {
    border: 1px solid #888;
}

input:focus, textarea:focus, select:focus {
    border: 1px solid #1fc8db;
}

.alert {
    border: 1px solid #d3dbda;
    border-radius: 5px;
    flex: 1 1 0;
    position: relative;
}

.alert .alert-message{
    padding: 10px;
}
.alert:before{
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
    content: attr(title);
    display: block;
    width: 100%;
    padding: 5px;
}
.alert .close-btn {
    border-radius: 0 5px;
    border-right: 0 none;
    border-top: 0 none;
    padding: 4px 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.alert + .alert{
    margin-top: 20px;
}



.btn, button, input[type="button"], input[type="submit"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-user-select: none;
    border: 1px solid #d3d6db;
    border-radius: 2px;
    color: #222324;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 24px;
    padding: 4px 10px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    background: #fff;
    cursor: pointer;
}

.tiny, input[type="button"].tiny, input[type="submit"].tiny {
    font-size: 12px;
    height: 25px;
    padding: 0 5px;
    line-height: 22px;
}

.medium, input[type="button"].medium, input[type="submit"].medium {
    font-size: 16px;
    height: 40px;
    line-height: 28px;
    padding: 5px 12px;
}

.big, input[type="button"].big, input[type="submit"].big {
    font-size: 18px;
    height: 48px;
    line-height: 34px;
    padding: 5px 20px;
}

.btn:hover:after, button:hover:after, input[type="button"]:hover:after, input[type="submit"]:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
}

.btn:active:after, button:active:after, input[type="button"]:active:after, input[type="submit"]:active:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group, {
    margin-left: -1px;
}
.btn-group > .btn{
    float: left;
    position: relative;
}

.btn-group > .btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.thumbnails{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}
.thumbnail{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
    flex: 1 1 0;
    margin: 5px;
    height: 100%;
}

.thumbnail h5{
    background: rgba(0,0,0,.05);
    padding: 10px;
    margin: 10px 0;
}

.thumbnail p{
    padding: 10px;
}

.thumbnail img{
    width: 100%;
    min-width: 40px;
}
.rich-content {
    display: block;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}
.rich-content-item,.rich-content embed,.rich-content iframe,.rich-content object,.rich-content video {
    border: 0 none;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.loading {
    text-indent: -9999px;
    width: 16px;
    padding: 0 30px;
    pointer-events: none;
}

.loading:after {
    animation: spin-around 500ms infinite linear;
    border: 2px solid #888;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute !important;
    top: 50%;
}


textarea{
    line-height: 1.2;
    max-height: 600px;
    max-width: 100%;
    min-height: 120px;
    min-width: 100%;
    padding: 10px;
    resize: vertical;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],

select,
input[type="password"]{
    flex:1 1 0
}


input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


/*.uploader::before {*/
    /*background: #eeeeee none repeat scroll 0 0;*/
    /*color: #222222;*/
    /*content: "Choose a file";*/
    /*display: inline;*/
    /*height: auto;*/
    /*margin-right: 15px;*/
    /*padding: 5px;*/
    /*position: relative;*/
    /*width: 100%;*/
/*}*/

select[multiple] option{

    padding: 5px;

    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1px;
    position: relative;
    padding-left: 20px;
}

select[multiple].inlined option{
    display: inline-block;
    float: left;
    width: 49%;
}


select[multiple] option:before{
    content: "☓";
    display: inline-block;
    height: 16px;
    margin-left: 0;
    width: 16px;
}

select[multiple] option:checked:before{
    content: "✔";
    display: inline-block;
    height: 16px;
    margin-left: 0;
    width: 16px;
}
select[multiple] option:hover{
    border: 1px dotted #ccc;
}

.select {
    display: inline-block;
    height: 32px;
    position: relative;
    vertical-align: top;
}


.select select {
    background: white;
    border: 1px solid #d3d6db;
    border-radius: 3px;
    color: #222324;
    font-size: 14px;
    height: 34px;
    line-height: 24px;
    padding: 3px 8px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    display: block;
    outline: none;
    padding-right: 36px;
}

.select select:hover {
    border-color: #aeb1b5;
}

.select select:active, .select select:focus {
    border-color: #1fc8db;
    outline: none;
}

.select select[disabled], .select select[disabled]:hover {
    background: #f5f7fa;
    border-color: #d3d6db;
}

.select select[disabled]::-moz-placeholder, .select select[disabled]:hover::-moz-placeholder {
    color: rgba(34, 35, 36, 0.3);
}

.select select[disabled]::-webkit-input-placeholder, .select select[disabled]:hover::-webkit-input-placeholder {
    color: rgba(34, 35, 36, 0.3);
}

.select select[disabled]:-moz-placeholder, .select select[disabled]:hover:-moz-placeholder {
    color: rgba(34, 35, 36, 0.3);
}

.select select[disabled]:-ms-input-placeholder, .select select[disabled]:hover:-ms-input-placeholder {
    color: rgba(34, 35, 36, 0.3);
}

.select select:hover {
    border-color: #aeb1b5;
}

.select select::ms-expand {
    display: none;
}

.select:after {
    border: 1px solid #1fc8db;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 7px;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 7px;
    margin-top: -6px;
    right: 16px;
    top: 50%;
}

.select:hover:after {
    border-color: #222324;
}

.icon + input {
    padding-left: 32px;
}

.append {
    border-radius: 0 2px 2px 0;
    margin-left: -1px;
}

.append * {
    /*border-left: 0!important;*/
    border-radius: 0 2px 2px 0 !important;
}

.prepend {
    border-radius: 2px 0 0 2px;
    margin-right: -1px;
    border-right: 0;
}

.prepend * {
    /*border-right: 0!important;*/
    border-radius: 2px 0 0 2px !important;
}

.control .icon {
    color: #aeb1b5;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    left: 6px;
    line-height: 20px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 6px;
    vertical-align: top;
    width: 20px;
    z-index: 1;
}

.icon{
    margin-left: 2px;
    margin-right: 2px;
}

.danger, input[type="button"].danger, input[type="submit"].danger {
    background: #ed6c63;
    border: 1px solid #ed6c63;
    color: #fff;
}

.warning, input[type="button"].warning, input[type="submit"].warning {
    background: #fce473;
    border: 1px solid #fce473;
    color: #333;
}

.success, input[type="button"].success, input[type="submit"].success {
    background: #97cd76;
    border: 1px solid #97cd76;
    color: #fff;
}

.info, input[type="button"].info, input[type="submit"].info {
    background: #42afe3;
    border: 1px solid #42afe3;
    color: #fff;
}

.primary, input[type="button"].primary, input[type="submit"].primary {
    background: #1fc8db;
    border: 1px solid #1fc8db;
    color: #fff;
}

.outline {
    background: #fff !important;
    color: inherit;
}

.label {
    cursor: context-menu;
    display: inline-block;
    padding: 3px 7px;
    border: 1px solid #d3d6db;
    border-radius: 3px;
}

table{
    width: 100%;
}

thead{
    border-bottom: 1px solid #333;
}
tfoot{
    border-top: 1px solid #333;
}

thead tr,tfoot tr{
    background: #eee;
}

tbody tr {
    border-bottom: 1px solid #eeeeee;
}

tbody tr:active{
    background: rgba(0,0,0,.9);
}



tbody tr:nth-child(even){
    background: rgba(0,0,0,.05);
}

tbody tr:hover{
    background: rgba(0,0,0,.08);
}

th{
    text-align: left;
    font-weight: 600;
}

td,th{
    padding: 5px;
}

nav{
    display: flex;
    border: 1px solid #d3d6db;
    padding: 5px 10px;
    flex: 1 1 0;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap
}

nav.navbar{
    border: 0 solid #d3d6db;
}

nav + nav{
    margin-top: 20px;
}

nav a{
    flex: 1 1 0;
    white-space: nowrap;
    margin: 5px;
}
nav.vertical a:hover{
    background: #f5f7fa;
}
nav.vertical{
    border-radius: 5px;
    display: inline-block;
    padding: 0;

}
nav.vertical a{
    border-bottom: 1px solid #eeeeee;
    display: block;
    padding: 10px 0;
    margin: 0;
    width: 100%;
    white-space: normal;
}

nav.vertical a:before,nav.vertical a:after{
    content: "";
    width: 10px;
    display: inline-block;
}

nav.vertical .tabs a:before,nav.vertical .tabs a:after{
    content: "";
    width: 0;
    display: inline-block;
}
nav h5 {
    background: #eeeeee none repeat scroll 0 0;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d3d6db;
}

nav a.last{
    background: #f5f7fa none repeat scroll 0 0;
    text-align: center;
}


.tabs{
    width: 100%;
    display: flex;

    position: relative;
}

div.tabs{
    max-height: 100px;
    overflow: auto;
}



ul.tabs li{
    flex: 1 1 0;
}
ul.tabs li a{
    margin: 0;
    z-index: 10;
    position: relative;
}

ul.tabs li a:active,ul.tabs li a:focus{
    background: rgba(0,0,0,.05);
}

div.tabs div{
    display: none;
    border-bottom: 1px solid #d3d6db;
    left: 0;
    margin-bottom: -35px;
    padding: 50px 10px 10px;
    position: relative;
    right: 0;
    top: -35px;
    width: 100%;
    z-index: 9;
}


div.tabs div:target{
    display: block;
}

nav ul.tabs li a{
    padding: 5px 0;
}

.active{
    background: rgba(0,0,0,.05);
}

.border{
    border: 1px solid #d3d6db;
}

.border td{
    border: 1px solid #d3d6db;
}
.media {
    display: flex;
    margin-top: 20px;
}
.media-image {
    margin-right: 10px;
    width: 60px;
}
.media-content {
    flex: 1 1 0;
    text-align: left;
}

.close-btn {
    background: #ff0000 none repeat scroll 0 0;
    border: 1px solid #333333;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    padding: 1px;
    text-align: center;
}



@media screen and (min-width: 960px) {
    .container {
        margin: 0 auto;
        width: 960px;
        max-width: 100%;
        position: relative;
    }

    .columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap
    }

    .col {
        flex: 1 1 0;
    }

    [class*="col-"] {
        flex: 0 0 auto;
    }

}

@media screen and (max-width: 959px) {
    .container {
        margin: 0 auto;
        width: 100%;
        position: relative;
    }

    .col {
        float: left;
        display: block;
        width: 100%;
    }

    .columns .col + .col {
        margin-top: 20px;
    }

}

@media screen and (min-width: 768px) {
    [class*="col-"] + .col {
        margin-top: 0 !important;
    }

    /*handy*/
    .col-1-2 {
        width: 50%;
    }

    .col-1-3 {
        width: 33.3333%;
    }

    .col-2-3 {
        width: 66.6666%;
    }

    .col-1-4 {
        width: 25%;
    }

    .col-3-4 {
        width: 75%;
    }

    /*12 based grid*/
    .col-1 {
        width: 8.3333%;
    }

    .col-2 {
        width: 16.6667%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.3333%;
    }

    .col-5 {
        width: 41.6667%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.3333%;
    }

    .col-8 {
        width: 66.6667%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.3333%;;
    }

    .col-11 {
        width: 91.6667%;
    }

    .col-12 {
        width: 100%;
    }
}